# cache.cfg (CACTI 7)
-size (bytes) 2097152
-block size (bytes) 64
-associativity 8
-read-write port 1
-UCA bank count 4
-technology (u) 0.045
-operating temperature (K) 350
-cache type "cache"
-Data array cell type - "itrs-hp"
-Data array peripheral type - "itrs-hp"
-Optimize ED or ED^2 (ED, ED^2, NONE): "ED^2"
-design objective (weight delay, dynamic power,
leakage power, cycle time, area) 0:0:0:100:0
